:root{
    --clr-bg:white;
    --clr-marker:black;
    --clr-win:limegreen;
    --clr-lose:red;
    --board-size:clamp(80vmin, 600px, 70vw);
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    font-size: 5vmin;
    display: flex;
    align-items: center;
}

.main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg);
}

    .gameBoard{
        height: var(--board-size);
        width: var(--board-size);
        border: 3px solid var(--clr-bg);
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:"c1 c2 c3"
                            "c4 c5 c6"
                            "c7 c8 c9";
    }

        .cell{
            border: 1px solid var(--clr-marker);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .x::before, .x::after{
            content: "";
            display: block;
            height: calc(var(--board-size)*0.9*0.33);
            width: 10px;
            background-color: var(--clr-marker);
            position: absolute;
            cursor: not-allowed;
        }

        .x::before{
            transform: rotate(45deg);
        }

        .x::after{
            transform: rotate(-45deg);

        }

        .o::before, .o::after{
            content: "";
            display: block;
            height: calc(var(--board-size)*0.8*0.33);
            width: calc(var(--board-size)*0.8*0.33);
            border-radius: calc(var(--board-size)*0.8*0.33*0.5);
            background-color: var(--clr-marker);
            position: absolute;
            cursor: not-allowed;
        }

        .o::before{
            background-color: var(--clr-marker);
        }

        .o::after{
            background-color: var(--clr-bg);
            transform: scale(0.9);

        }
        

        [data-cell = "1"]{
            grid-area: c1;
            border-left: var(--clr-bg);
            border-top: var(--clr-bg);
        }

        [data-cell = "2"]{
            grid-area: c2;
            border-top: var(--clr-bg);
        }

        [data-cell = "3"]{
            grid-area: c3;
            border-top: var(--clr-bg);
            border-right: var(--clr-bg);
        }

        [data-cell = "4"]{
            grid-area: c4;
            border-left: var(--clr-bg);
        }

        [data-cell = "5"]{
            grid-area: c5;
        }

        [data-cell = "6"]{
            border-right: var(--clr-bg);
            grid-area: c6;
        }

        [data-cell = "7"]{
            grid-area: c7;
            border-left: var(--clr-bg);
            border-bottom: var(--clr-bg);
        }

        [data-cell = "8"]{
            grid-area: c8;
            border-bottom: var(--clr-bg);

        }

        [data-cell = "9"]{
            grid-area: c9;
            border-right: var(--clr-bg);
            border-bottom: var(--clr-bg);
        }

    .modal{
        padding: 8rem;
        display: none;
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        top: 0;
        left: 0;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .winnerName{
        font-size: 3em;
        color: white;
    }

    .btn{
        margin-left: 3rem;
        background-color: black;
        color: white;
        outline: none;
        width: 8rem;
        height: 3rem;
        border-radius: 8px;
        border: 1px solid white;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);

    }

    .btn{
        background-color: white;
        color: black;
        border: 1px solid black;
        transform: scale(1.05);
    }

    #mode{
        width: 10rem;
        background-color: black;
        color: white;
    }

    #mode:active{
        background-color: black;
        color: white;
        transform: scale(1.1);
    }

    .modalContent{
        display: flex;
        height: 10vh;
        align-items: center;
    }